.main{
    /* height: 1000;
    width: 1000px;
    background-color: brown;
    margin: 0 auto;
    display: flex; */
    /* flex-direction: row-reverse; */
    /* flex-direction: column; */
    /* flex-direction: column-reverse; */
    /* flex-wrap: nowrap; */
    /* flex-wrap: wrap; */
    /* flex-wrap: wrap; */
}
/* .box{
    height: 200px;
    width: 200px;
}
.box1{
    background-color: blue;
}
.box2{
    background-color: blueviolet;
}
.box3{
    background-color: burlywood;
} */